@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #222;
    color: #fff;
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-a{
    justify-content: space-around;
}

.flex-b{
    justify-content: space-between;
}

.flex-e{
    justify-content: space-evenly;
}

.flex-column{
    flex-direction: column;
}

#banner,
div#banner>div.area-conteudo>div.text-btn>label.btn-svg>svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#banner{
    width: 100%;
    height: 100%;
    background: transparent;
    display: grid;
    place-items: center;
    background: #111;
}

#btn-banner{
    display: none;
}

#banner .title{
    font-weight: 500;
}

#banner .sub-title{
    font-weight: 300;
}

#banner>.area-conteudo>.text-btn>.btn-svg{
    position: relative;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background: lawngreen;
    color: #111;
    box-shadow: 0 0 15px rgba(124, 252, 0, .25);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
}

#banner>.area-conteudo>.text-btn>.btn-svg:hover{
    box-shadow: 0 0 25px rgba(124, 252, 0, .50);
}

div#banner>div.area-conteudo>div.text-btn>label.btn-svg>svg>rect{
    fill: transparent;
    stroke: lawngreen;
    stroke-width: 1;
    stroke-dasharray: 600;
    stroke-dashoffset: 0;
    transition: .5s;
}

#banner>.area-conteudo>.area-icons{
    width: 184px;
    height: 30px;
}

#banner>.area-conteudo>.area-icons>.icon{
    width: 30px;
    height: 30px;
    background: url("../_media/_svg/icon_whatsapp.svg") no-repeat;
    background-position: center center;
}

#banner>.area-conteudo>.area-icons>.icon:nth-child(2){
    background: url("../_media/_svg/icon_instagram.svg");
}

#banner>.area-conteudo>.area-icons>.icon:nth-child(3){
    width: 25px;
    background: url("../_media/_svg/icon_pinterest.svg");
}

#banner>.area-conteudo>.area-icons>.icon:nth-child(4){
    width: 39px;
    background: url("../_media/_svg/icon_gmail.svg");
}

#btn-banner:checked ~ #banner>.area-conteudo>.text-btn>label.btn-svg{
    background: transparent;
    color: transparent;
    box-shadow: none;
    z-index: -2;
}

#btn-banner:checked ~ #banner>.area-conteudo>.text-btn>label.btn-svg>svg>rect{
    stroke: lawngreen;
    animation: 3s svgbanner ease-in-out forwards;
}

#btn-banner:checked ~ #banner{
    opacity: 0;
    transition: 1s;
}

@keyframes svgbanner{
    to{
        stroke-dashoffset: 600;
    }
}

@media screen and (orientation: portrait) and (min-width:220px){
    #banner .title{
        font-size: 37px;
        text-align: center;
    }

    #banner .sub-title{
        font-size: 20px;
        text-align: center;
    }

    #banner>.area-conteudo>.text-btn>#icon-logo{
        width: 175px;
        height: 107px;
        background: url("../_media/_svg/logo_daniel_glaser.svg")no-repeat;
        background-position: center center;
        background-size: 282px;
    }

    #banner>.area-conteudo{
        width: 300px;
        height: 441px;
    }

    #banner>.area-conteudo>.text-btn{
        width: 100%;
        height: 336px;
    }

    #banner>.area-conteudo>.text-btn>.btn-svg{
        font-size: 18px;
    }
}

@media screen and (orientation: landscape) and (max-width:1023.9px){
    #banner .title{
        font-size: 37px;
        text-align: center;
    }

    #banner .sub-title{
        font-size: 20px;
        text-align: center;
    }

    #banner>.area-conteudo>.text-btn>#icon-logo{
        width: 175px;
        height: 107px;
        background: url("../_media/_svg/logo_daniel_glaser.svg")no-repeat;
        background-position: center center;
        background-size: 282px;
    }

    #banner>.area-conteudo{
        width: 300px;
        height: 276px;
    }

    #banner>.area-conteudo>.text-btn{
        width: 100%;
        height: 336px;
    }

    #banner>.area-conteudo>.text-btn>.btn-svg{
        font-size: 18px;
    }

    #banner>.area-conteudo>.area-icons{
        display: none;
    }
}

@media screen and (orientation: portrait) and (min-width:720px){
    #banner .title{
        font-size: 76px;
        text-align: center;
    }

    #banner .sub-title{
        font-size: 29px;
        text-align: center;
    }

    #banner>.area-conteudo>.text-btn>#icon-logo{
        width: 300px;
        height: 184px;
        background: url("../_media/_svg/logo_daniel_glaser.svg")no-repeat;
        background-position: center center;
        background-size: 484px;
    }

    #banner>.area-conteudo{
        width: 550px;
        height: 592px;
    }

    #banner>.area-conteudo>.text-btn{
        width: 100%;
        height: 487px;
    }

    #banner>.area-conteudo>.text-btn>.btn-svg{
        font-size: 20px;
    }
}

@media screen and (orientation: landscape) and (min-width:1024px){
    #banner .title{
        font-size: 76px;
        text-align: center;
    }

    #banner .sub-title{
        font-size: 29px;
        text-align: center;
    }

    #banner>.area-conteudo>.text-btn>#icon-logo{
        width: 300px;
        height: 184px;
        background: url("../_media/_svg/logo_daniel_glaser.svg")no-repeat;
        background-position: center center;
        background-size: 484px;
    }

    #banner>.area-conteudo{
        width: 550px;
        height: 592px;
    }

    #banner>.area-conteudo>.text-btn{
        width: 100%;
        height: 487px;
    }

    #banner>.area-conteudo>.text-btn>.btn-svg{
        font-size: 20px;
    }
}