*{
    padding:0;margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1em; font-family: 'Montserrat', sans-serif; font-weight: 300;

    body{
        background: #111 !important;
        color: #fff !important;
        overflow-x: hidden;
    }
}